.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.resource-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-icon img {
  object-fit: contain;
}